.emacs.desktop
ido.last
bookmarks
tramp
auto-save-list/*
backup/*
elpa/*
eshell/*
projectile*
session.*
url/*
games/*
server/*
.emacs.desktop
.emacs.desktop.lock
.sx/
semanticdb/*
*~
recentf
.lsp-session*
transient/history.el
